body {
    background-color: #B2FFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#bigB {
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    border: 10px solid #000000;
    /* Border style */
    padding: 20px;
    /* Adjust padding as needed */
    width: 500px;
    /* Adjust width as needed */
    margin: 20px auto;
    /* Adjust margin as needed */
    border-radius: 10%;
}


#mainImg {
    height: 250px;
    width: 350px;
}

#playingTo {
    width: 20px;
}

span {
    font-size: 50px;
}

#fixedHead {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    height: 75px;
    width: 130px;
    font-size: 15px;
    border-radius: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#p1Btn {
    background-color: rgb(255, 255, 153);
}

#p2Btn {
    background-color: rgb(255, 182, 193);
}

#resetBtn {
    font-size: 15px;
    background-color: rgb(152, 251, 152);
}

#scoreBox {
    background-color: #B2FFFF;
    text-align: center;
    box-sizing: border-box;
    border: 10px solid #000000;
    /* Border style */
    padding: 10px;
    /* Adjust padding as needed */
    width: 200px;
    /* Adjust width as needed */
    margin: 5px auto;
    /* Adjust margin as needed */
    border-radius: 20%;
}